* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: darkgray;
}

/* Styling for "Career" */
.title {
  margin: 20px;
  font-family: 'Oswald', sans-serif;
}

/* Styling for Overall Article Container */
.article__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  flex-basis: 33%;
  height: 160px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px 20px;
}

.box li {
  list-style-type: circle;
}

.career-section-title  {
  font-family: 'Oswald', sans-serif;
}

.list-items {
  padding-left: 15px;
}

/* Styling for Awars Section */
.heading__awards {
  margin: 5px 0;
  font-family: 'Oswald', sans-serif;
}

/* Determine Size of Skills Box */
#box__skills {
  flex-basis: 25%;
}

/* Styling for Movies Section */
.box__works {
  width: 95%;
}

.heading__works {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
}

.movies {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}

.container__movies {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.movie-div {
  margin-right: 20px; 
}

.movie-photo {
  border-radius: 20px;
  width: 25em;
}

/* Styling for Books Section */
.books {
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.container__books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

.book-photo {
  border-radius: 10px;
  width: 10em;
}

.book-title {
  text-emphasis: ;
}


/* ------ Scroll Bar Styling ------ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}