* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: darkgray;
}

/* Styling for "Career" */
.title {
  margin: 20px;
  font-family: 'Oswald', sans-serif;
}

.article__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box {
  flex-basis: 30%;
  height: 160px;
  overflow-y: auto;
  margin-bottom: 20px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px 20px;
}

.box li {
  list-style-type: circle;
}

h2, h3 {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 5px;
}

/* Styling for Movies Section */
.box__movies {
  width: 95%;
}

.container__movies {
  display: flex;
  justify-content: space-between;
}

.movie-div {
  width: 50%;
}

.movie-photo {
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
}




/* ------ Scroll Bar Styling ------ */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 20px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}