* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex:1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 45%;
    align-items: center;
}

.header-text {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: inline;
}

.header-container:hover {
    color: deeppink;
}

.header-img > img {
    width: 7em;
    border-radius: 50%;
}

.nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.hyperlink:link, .hyperlink:visited {
    color: lightgray;
    text-decoration: none;
}

.hyperlink:hover {
    color: deeppink;
}

.nav-links__link {
    justify-content: space-between;
    margin: 0 50px;
    flex-basis: 20%;
    font-family: 'Lato', sans-serif;
}

h1 {
    align-items: center;
    justify-content: center;
}

