img {
  
    border-radius: 50%
}


.center{

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 200px;
        width: 15%;
      




}